In [3]:
import numpy as np
import pandas as pd

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
df = pd.read_csv('../data/dataset.csv', delimiter=';')
df

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,account_worst_status_3_6m,account_worst_status_6_12m,age,avg_payment_span_0_12m,avg_payment_span_0_3m,merchant_category,merchant_group,has_paid,max_paid_inv_0_12m,max_paid_inv_0_24m,name_in_email,num_active_div_by_paid_inv_0_12m,num_active_inv,num_arch_dc_0_12m,num_arch_dc_12_24m,num_arch_ok_0_12m,num_arch_ok_12_24m,num_arch_rem_0_12m,num_arch_written_off_0_12m,num_arch_written_off_12_24m,num_unpaid_bills,status_last_archived_0_24m,status_2nd_last_archived_0_24m,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.0,0,0.0,0.0,0.0,0.000000,1.0,1.0,NaN,1.0,NaN,20,12.692308,8.333333,Dietary supplements,Health & Beauty,True,31638.0,31638.0,no_match,0.153846,2,0,0,13,14,0,0.0,0.0,2,1,1,1,1,1,1,0,0,0,178839,9.653333,1.0
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.0,0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,1.0,1.0,50,25.833333,25.000000,Books & Magazines,Entertainment,True,13749.0,13749.0,F+L,0.000000,0,0,0,9,19,3,0.0,0.0,0,1,1,1,1,2,2,0,0,0,49014,13.181389,NaN
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,22,20.000000,18.000000,Diversified entertainment,Entertainment,True,29890.0,29890.0,L1+F,0.071429,1,0,0,11,0,3,0.0,0.0,1,1,1,1,1,2,2,0,0,0,124839,11.561944,1.0
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,4.687500,4.888889,Diversified entertainment,Entertainment,True,40040.0,40040.0,F1+L,0.031250,1,0,0,31,21,0,0.0,0.0,1,1,1,1,1,1,1,0,0,0,324676,15.751111,1.0
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,25,13.000000,13.000000,Electronic equipment & Related accessories,Electronics,True,7100.0,7100.0,F+L,0.000000,0,0,0,1,0,0,0.0,0.0,0,1,0,0,1,1,1,0,0,0,7100,12.698611,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99971,5c03bc63-ea65-4ffd-aa7b-95ea9a46db34,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,NaN,NaN,33,10.333333,NaN,Electronic equipment & Related accessories,Electronics,True,35195.0,35195.0,F1+L,0.000000,0,0,0,6,2,0,0.0,0.0,0,1,1,1,1,1,1,0,0,0,60127,10.765556,NaN
99972,f8db22f4-9819-420c-abbc-9ddf1843176e,NaN,0,0.0,0.0,0.0,0.004044,1.0,1.0,NaN,1.0,1.0,44,36.000000,NaN,Body & Hair Care,Health & Beauty,True,4740.0,4740.0,F1+L,0.000000,0,0,0,1,3,0,0.0,0.0,1,1,1,1,0,1,1,0,7948,0,4740,21.708333,NaN
99973,b22e21ea-b1b2-4df3-b236-0ff6d5fdc0d8,NaN,45671,0.0,20.0,0.0,0.705078,2.0,2.0,2.0,1.0,1.0,24,NaN,NaN,Jewelry & Watches,Jewelry & Accessories,True,1200.0,1200.0,Nick,NaN,0,0,0,0,0,0,NaN,NaN,18,0,0,0,0,0,0,0,17447,19627,3100,2.185278,NaN
99974,bafcab15-9898-479c-b729-c9dda7edb78f,NaN,56102,0.0,0.0,0.0,0.064175,1.0,2.0,1.0,2.0,2.0,31,17.500000,NaN,Decoration & Art,Home & Garden,True,15000.0,15000.0,Nick,0.000000,0,0,0,2,1,0,0.0,0.0,1,1,1,1,1,1,1,0,18339,56180,34785,9.725278,NaN
99975,ac88f18c-96a6-49bc-9e9d-a780225914af,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,1.0,NaN,41,34.666667,37.500000,Dietary supplements,Health & Beauty,True,13246.0,14817.0,F1+L,0.000000,0,0,0,2,2,1,0.0,0.0,1,2,1,1,2,2,2,0,0,0,30602,11.585278,NaN

In [18]:
# prediction df
df_pred = df[df.default.isna()]
df_pred

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,account_worst_status_3_6m,account_worst_status_6_12m,age,avg_payment_span_0_12m,avg_payment_span_0_3m,merchant_category,merchant_group,has_paid,max_paid_inv_0_12m,max_paid_inv_0_24m,name_in_email,num_active_div_by_paid_inv_0_12m,num_active_inv,num_arch_dc_0_12m,num_arch_dc_12_24m,num_arch_ok_0_12m,num_arch_ok_12_24m,num_arch_rem_0_12m,num_arch_written_off_0_12m,num_arch_written_off_12_24m,num_unpaid_bills,status_last_archived_0_24m,status_2nd_last_archived_0_24m,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
89976,6f6e6c6a-2081-4e6b-8eb3-4fd89b54b2d7,NaN,0,0.0,0.0,0.0,0.009135,1.0,1.0,NaN,1.0,1.0,20,6.400000,5.25,Youthful Shoes & Clothing,Clothing & Shoes,True,7225.0,7225.0,F,0.0,0,0,0,5,0,0,0.0,0.0,1,1,1,1,1,1,1,0,8815,0,27157,19.895556,NaN
89977,f6f6d9f3-ef2b-4329-a388-c6a687f27e70,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,64,NaN,NaN,Personal care & Body improvement,Health & Beauty,False,0.0,0.0,L1+F,NaN,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0.236667,NaN
89978,e9c39869-1bc5-4375-b627-a2df70b445ea,NaN,50956,0.0,77.0,0.0,0.000000,1.0,1.0,2.0,3.0,2.0,28,12.500000,NaN,Diversified entertainment,Entertainment,True,91980.0,91980.0,F,0.0,0,0,1,2,7,0,0.0,0.0,0,1,1,2,1,1,3,0,36163,39846,93760,20.332778,NaN
89979,6beb88a3-9641-4381-beb6-c9a208664dd0,NaN,35054,0.0,0.0,0.0,0.000000,1.0,1.0,1.0,1.0,1.0,31,41.000000,NaN,Concept stores & Miscellaneous,"Leisure, Sport & Hobby",True,1790.0,1790.0,F+L,0.0,0,0,0,0,0,1,0.0,0.0,0,2,0,0,2,2,2,0,62585,0,1790,6.201111,NaN
89980,bb89b735-72fe-42a4-ba06-d63be0f4ca36,NaN,0,0.0,0.0,0.0,0.000000,1.0,2.0,NaN,2.0,2.0,30,NaN,NaN,Diversified electronics,Electronics,True,0.0,0.0,F1+L,NaN,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,0,0,0,14295,0,0,8.451111,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99971,5c03bc63-ea65-4ffd-aa7b-95ea9a46db34,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,NaN,NaN,33,10.333333,NaN,Electronic equipment & Related accessories,Electronics,True,35195.0,35195.0,F1+L,0.0,0,0,0,6,2,0,0.0,0.0,0,1,1,1,1,1,1,0,0,0,60127,10.765556,NaN
99972,f8db22f4-9819-420c-abbc-9ddf1843176e,NaN,0,0.0,0.0,0.0,0.004044,1.0,1.0,NaN,1.0,1.0,44,36.000000,NaN,Body & Hair Care,Health & Beauty,True,4740.0,4740.0,F1+L,0.0,0,0,0,1,3,0,0.0,0.0,1,1,1,1,0,1,1,0,7948,0,4740,21.708333,NaN
99973,b22e21ea-b1b2-4df3-b236-0ff6d5fdc0d8,NaN,45671,0.0,20.0,0.0,0.705078,2.0,2.0,2.0,1.0,1.0,24,NaN,NaN,Jewelry & Watches,Jewelry & Accessories,True,1200.0,1200.0,Nick,NaN,0,0,0,0,0,0,NaN,NaN,18,0,0,0,0,0,0,0,17447,19627,3100,2.185278,NaN
99974,bafcab15-9898-479c-b729-c9dda7edb78f,NaN,56102,0.0,0.0,0.0,0.064175,1.0,2.0,1.0,2.0,2.0,31,17.500000,NaN,Decoration & Art,Home & Garden,True,15000.0,15000.0,Nick,0.0,0,0,0,2,1,0,0.0,0.0,1,1,1,1,1,1,1,0,18339,56180,34785,9.725278,NaN
99975,ac88f18c-96a6-49bc-9e9d-a780225914af,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,1.0,NaN,41,34.666667,37.50,Dietary supplements,Health & Beauty,True,13246.0,14817.0,F1+L,0.0,0,0,0,2,2,1,0.0,0.0,1,2,1,1,2,2,2,0,0,0,30602,11.585278,NaN

In [19]:
# training df
df_train = df.dropna(subset=['default'])
df_train

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,account_worst_status_3_6m,account_worst_status_6_12m,age,avg_payment_span_0_12m,avg_payment_span_0_3m,merchant_category,merchant_group,has_paid,max_paid_inv_0_12m,max_paid_inv_0_24m,name_in_email,num_active_div_by_paid_inv_0_12m,num_active_inv,num_arch_dc_0_12m,num_arch_dc_12_24m,num_arch_ok_0_12m,num_arch_ok_12_24m,num_arch_rem_0_12m,num_arch_written_off_0_12m,num_arch_written_off_12_24m,num_unpaid_bills,status_last_archived_0_24m,status_2nd_last_archived_0_24m,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,1.0,NaN,20,12.692308,8.333333,Dietary supplements,Health & Beauty,True,31638.0,31638.0,no_match,0.153846,2,0,0,13,14,0,0.0,0.0,2,1,1,1,1,1,1,0,0,0,178839,9.653333,1.0
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.0,0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,1.0,1.0,50,25.833333,25.000000,Books & Magazines,Entertainment,True,13749.0,13749.0,F+L,0.000000,0,0,0,9,19,3,0.0,0.0,0,1,1,1,1,2,2,0,0,0,49014,13.181389,NaN
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,22,20.000000,18.000000,Diversified entertainment,Entertainment,True,29890.0,29890.0,L1+F,0.071429,1,0,0,11,0,3,0.0,0.0,1,1,1,1,1,2,2,0,0,0,124839,11.561944,1.0
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,4.687500,4.888889,Diversified entertainment,Entertainment,True,40040.0,40040.0,F1+L,0.031250,1,0,0,31,21,0,0.0,0.0,1,1,1,1,1,1,1,0,0,0,324676,15.751111,1.0
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,25,13.000000,13.000000,Electronic equipment & Related accessories,Electronics,True,7100.0,7100.0,F+L,0.000000,0,0,0,1,0,0,0.0,0.0,0,1,0,0,1,1,1,0,0,0,7100,12.698611,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89971,3df1babe-26b4-42e3-b3e0-5e29e2100851,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,70,NaN,NaN,Concept stores & Miscellaneous,"Leisure, Sport & Hobby",False,0.0,0.0,no_match,NaN,0,0,0,0,0,0,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,14.919722,NaN
89972,da140349-0d40-40ac-85c9-939036eaf4ac,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,25,10.166667,8.000000,Diversified entertainment,Entertainment,True,2380.0,2380.0,Nick,0.000000,0,0,0,6,9,0,0.0,0.0,0,1,1,1,1,1,1,0,0,0,6535,11.846667,NaN
89973,24223123-a12a-4182-aafb-63c6a37f158b,0.0,0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,1.0,1.0,34,13.555556,15.000000,Youthful Shoes & Clothing,Clothing & Shoes,True,10790.0,10790.0,F,0.000000,0,0,0,9,0,0,0.0,0.0,0,1,1,1,1,1,1,0,0,0,47306,18.681944,NaN
89974,451fc324-9ad3-4e28-93f9-cce455e664a1,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,51,13.400000,12.500000,Books & Magazines,Entertainment,True,4580.0,4580.0,Nick,0.000000,0,0,0,5,1,0,0.0,0.0,0,1,1,1,1,1,1,0,0,0,13530,11.964444,NaN
89975,f40bfa77-22e0-477e-95e2-2e05f468a66a,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,34.500000,NaN,Sports gear & Outdoor,"Leisure, Sport & Hobby",True,4360.0,4795.0,F+L,0.000000,0,0,0,1,1,1,0.0,0.0,0,1,2,1,0,2,2,0,0,0,8410,18.925833,NaN

In [58]:
# unique values per column with NaN values

na_col = {
    'col': [],
    '%_missing': [],
    'uniq_val_count': []
}

for i in df_train.columns[df_train.isnull().any()]:
    na_col['col'].append(i)
    na_col['%_missing'].append(round(df_train[i].isna().sum()/len(df_train)*100))
    na_col['uniq_val_count'].append(len(df_train[i].unique()))

pd.DataFrame.from_dict(na_col)

                                    col  %_missing  uniq_val_count
0             account_days_in_dc_12_24m         12             120
1            account_days_in_rem_12_24m         12             279
2           account_days_in_term_12_24m         12              62
3   account_incoming_debt_vs_paid_0_24m         59           21557
4                        account_status         54               5
5             account_worst_status_0_3m         54               5
6           account_worst_status_12_24m         67               5
7             account_worst_status_3_6m         58               5
8            account_worst_status_6_12m         60               5
9                avg_payment_span_0_12m         24            7557
10                avg_payment_span_0_3m         49            2173
11     num_active_div_by_paid_inv_0_12m         23             824
12           num_arch_written_off_0_12m         18               3
13          num_arch_written_off_12_24m         18               4
14              worst_status_active_inv         70               4

In [49]:
df_train.account_days_in_dc_12_24m.unique()

array([  0.,  nan,   9.,  63., 131.,  56.,  19., 291., 362.,  57., 238.,
        36.,  86.,  39.,  62., 134.,  85.,  42.,  54.,  67.,   3.,  99.,
        59.,  46.,  81.,  35.,  44., 158.,  43.,  41.,  31., 233.,  55.,
       145., 276.,  58.,  65.,  28.,  10.,  33.,  11., 112.,  12.,  64.,
        48., 150., 143.,   7.,  29.,  22., 116.,  77., 127., 258.,  21.,
         4., 147., 125., 121.,  66.,  18.,  84., 316.,  95.,  30.,  14.,
        25.,  75., 119.,  74.,  92., 163.,  32., 289., 229.,  34.,   1.,
       159., 129., 350.,  73.,  82., 105.,  69., 135., 106., 203.,  13.,
        20., 271., 318., 110.,  52.,  23., 322., 269.,  91., 152.,  17.,
       133., 165.,   5.,  60.,  71., 115., 228.,  90., 153., 113.,  45.,
        72.,  26.,  87.,  50., 100., 128.,  38., 118.,  47., 191.])

In [59]:
df_pred.isna().sum()

uuid                                       0
default                                10000
account_amount_added_12_24m                0
account_days_in_dc_12_24m               1153
account_days_in_rem_12_24m              1153
account_days_in_term_12_24m             1153
account_incoming_debt_vs_paid_0_24m     5958
account_status                          5439
account_worst_status_0_3m               5439
account_worst_status_12_24m             6706
account_worst_status_3_6m               5764
account_worst_status_6_12m              6037
age                                        0
avg_payment_span_0_12m                  2368
avg_payment_span_0_3m                   4923
merchant_category                          0
merchant_group                             0
has_paid                                   0
max_paid_inv_0_12m                         0
max_paid_inv_0_24m                         0
name_in_email                              0
num_active_div_by_paid_inv_0_12m        2281
num_active_inv                             0
num_arch_dc_0_12m                          0
num_arch_dc_12_24m                         0
num_arch_ok_0_12m                          0
num_arch_ok_12_24m                         0
num_arch_rem_0_12m                         0
num_arch_written_off_0_12m              1773
num_arch_written_off_12_24m             1773
num_unpaid_bills                           0
status_last_archived_0_24m                 0
status_2nd_last_archived_0_24m             0
status_3rd_last_archived_0_24m             0
status_max_archived_0_6_months             0
status_max_archived_0_12_months            0
status_max_archived_0_24_months            0
recovery_debt                              0
sum_capital_paid_account_0_12m             0
sum_capital_paid_account_12_24m            0
sum_paid_inv_0_12m                         0
time_hours                                 0
worst_status_active_inv                 6975
dtype: int64