In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('../data/dataset.csv', delimiter=';')
df.head()

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,...,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,...,1,1,1,1,0,0,0,178839,9.653333,1.0
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.0,0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,...,1,1,2,2,0,0,0,49014,13.181389,NaN
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,1,1,2,2,0,0,0,124839,11.561944,1.0
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,0,0,0,324676,15.751111,1.0
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0,1,1,1,0,0,0,7100,12.698611,NaN

In [10]:
len(df)

99976

In [12]:
df.isna().sum()/len(df)*100

uuid                                    0.000000
default                                10.002401
account_amount_added_12_24m             0.000000
account_days_in_dc_12_24m              11.838841
account_days_in_rem_12_24m             11.838841
account_days_in_term_12_24m            11.838841
account_incoming_debt_vs_paid_0_24m    59.329239
account_status                         54.386053
account_worst_status_0_3m              54.386053
account_worst_status_12_24m            66.777026
account_worst_status_3_6m              57.715852
account_worst_status_6_12m             60.364487
age                                     0.000000
avg_payment_span_0_12m                 23.841722
avg_payment_span_0_3m                  49.316836
merchant_category                       0.000000
merchant_group                          0.000000
has_paid                                0.000000
max_paid_inv_0_12m                      0.000000
max_paid_inv_0_24m                      0.000000
name_in_email                           0.000000
num_active_div_by_paid_inv_0_12m       22.944507
num_active_inv                          0.000000
num_arch_dc_0_12m                       0.000000
num_arch_dc_12_24m                      0.000000
num_arch_ok_0_12m                       0.000000
num_arch_ok_12_24m                      0.000000
num_arch_rem_0_12m                      0.000000
num_arch_written_off_0_12m             18.082340
num_arch_written_off_12_24m            18.082340
num_unpaid_bills                        0.000000
status_last_archived_0_24m              0.000000
status_2nd_last_archived_0_24m          0.000000
status_3rd_last_archived_0_24m          0.000000
status_max_archived_0_6_months          0.000000
status_max_archived_0_12_months         0.000000
status_max_archived_0_24_months         0.000000
recovery_debt                           0.000000
sum_capital_paid_account_0_12m          0.000000
sum_capital_paid_account_12_24m         0.000000
sum_paid_inv_0_12m                      0.000000
time_hours                              0.000000
worst_status_active_inv                69.531688
dtype: float64

In [13]:
df.default.unique()

array([ 0.,  1., nan])

In [14]:
df.worst_status_active_inv.unique()

array([ 1., nan,  2.,  3.])